# Xcode
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate
*.moved-aside

# SwiftPM
.build/

# macOS
.DS_Store

# API Keys and Secrets
Config.plist
